<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-100 via-white to-blue-50 px-4">

    <!-- 2fa-verification.component.html -->
    <div *ngIf="type === 'VERIFY_2FA'" class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm text-center">
        <h2 class="text-2xl font-semibold mb-4">{{'ENTER_VERIFICATION_CODE' | translate}}</h2>
        <p class="text-sm text-gray-500 mb-6">{{ otpSentMessage }}</p>

        <form [formGroup]="otpForm" (submit)="verifyCode()" class="flex flex-col gap-6">
            <div class="flex justify-center gap-8 otp-input">
                <input *ngFor="let i of [].constructor(otpLength); let idx = index" #otpInput type="text" maxlength="1"
                    inputmode="numeric" formControlName="digit{{idx}}"
                    class="w-12 h-12 border border-gray-300 rounded text-center text-lg focus:outline-none focus:ring-2 focus:ring-orange-300"
                    (keydown)="handleKeyDown($event, idx)" (keypress)="allowNumbersOnly($event)"
                    (input)="onOtpChange($event, 0)" autocomplete="off" />
            </div>
            <button [disabled]="!isOtpComplete()" type="submit" [ngClass]="{
    'bg-orange-500 hover:bg-blue-700 cursor-pointer': isOtpComplete(),
    'bg-orange-100 text-gray-500 cursor-not-allowed': !isOtpComplete()
  }" class="w-full py-2 rounded transition text-white">
                {{'VERIFY' | translate}}
            </button>

        </form>
        
        <div class="mt-4 text-sm text-center text-gray-600">
            <p class="mb-1">{{'NOT_RECEIVE' | translate}}</p>
        
            <!-- Send OTP to Email -->
            <button *ngIf="!isSendEmailDisabled" class="font-medium cursor-pointer" [ngClass]="{
              'text-blue-600 hover:text-blue-700 hover:underline': !isSendEmailDisabled,
              'text-gray-300 cursor-not-allowed': isSendEmailDisabled
            }" (click)="!isSendEmailDisabled && sendEmailOtp()">
                {{'SEND_TO_EMAIL' | translate}}
            </button>
                
            <!-- Switch to WhatsApp OTP -->
            <button *ngIf="isSendEmailDisabled" class="font-medium cursor-pointer" [ngClass]="{
              'text-green-600 hover:text-green-700 hover:underline': false
            }" (click)="sendWhatsappOtp()">
                {{'SEND_TO_WHATSAPP' | translate}}
            </button>
        
            <span class="mx-2 text-gray-400">|</span>
        
            <!-- Resend OTP -->
            <button class="font-medium cursor-pointer" [ngClass]="{
              'text-orange-600 hover:text-orange-700 hover:underline': !isResendDisabled,
              'text-orange-200 cursor-not-allowed': isResendDisabled
            }" (click)="!isResendDisabled && resendOtp()">
                {{'RESEND' | translate}} <span *ngIf="isResendDisabled">({{ resendTimer }}s)</span>
            </button>
        </div>

    </div>

    <!-- login-navigation.component.html -->

    <div *ngIf="type === 'SSO'"
        class="bg-white p-10 rounded-3xl shadow-xl w-full max-w-md flex flex-col items-center space-y-6 border border-gray-200">
        <!-- Company Logo -->
        <img src="assets/logo.png" alt="Company Logo" class="w-16 h-16" />

        <!-- Title -->
        <h1 class="text-2xl font-bold text-gray-800">{{'SSO_LOGIN' | translate}}</h1>

        <!-- Loader View -->
        <ng-container *ngIf="isLoading && !isError">
            <p class="text-gray-500 text-center">
                {{'VERIFY_LOGIN_SESSION' | translate}}
            </p>
            <div class="flex items-center space-x-3">
                <svg class="w-8 h-8 animate-spin text-blue-600" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z">
                    </path>
                </svg>
                <span class="text-blue-600 font-medium">{{'AUTHENTICATING'| translate}}</span>
            </div>
        </ng-container>

        <!-- Error View -->
        <ng-container *ngIf="!isLoading && isError">
            <div class="text-center space-y-4">
                <p class="text-red-600 font-semibold">{{'UNABLE_TO_PROCESS' | translate}}</p>
                <!-- <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer"
                    (click)="reloadPage()">
                    Try Again
                </button> -->
            </div>
        </ng-container>

        <!-- Footer -->
        <div class="pt-4 border-t w-full text-center text-xs text-gray-400">
            &copy; 2025 All Direction Source Technology Private Limited. All rights reserved.
        </div>
    </div>
</div>
