<!-- Login Component with Responsive Layout -->
<div class="flex flex-col md:flex-row min-h-screen">
  <!-- Left Side Content -->

  <div class="hidden md:flex min-h-screen platform-native:hidden">
    <div class="bg-orange-100 m-4  rounded-md py-12 px-4sm:px-6 lg:px-8">
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-900">Welcome to <span class="text-orange-500">AdsDrive</span> Cloud</h1>
        <p class="italic text-lg font-semibold text-black mt-2">Your Secure Digital Storage Partner</p>
        <p class="italic text-md font-semibold text-black">Store smarter. Share faster. Access anywhere.</p>
        <h2 class="italic text-2xl font-[700] text-orange-400 mt-8">Choose Your plans</h2>
      </div>

      <div class="grid grid-cols-1 mb-10 md:grid-cols-3 gap-10 max-w-6xl mx-auto">
        <!-- Free Plan -->
        <div class="bg-white p-4 rounded-2xl shadow-md border-orange-400 border duration-300 hover:scale-105">
          <h3 class="text-xl  font-semibold text-orange-400 mt-2">Free Plan</h3>
          <p class="text-gray-500 text-xs mb-4">Perfect for personal use</p>
          <p class="text-3xl font-bold mb-4">0 ₹ <span class="text-sm font-medium text-gray-600">/ month</span></p>
          <button class="w-full bg-orange-400 text-white py-1 text-[12px] rounded-md  hover:bg-orange-500">Get Ads Drive
            for Free</button>
          <ul class="mt-4 space-y-2 text-gray-700 text-[11px] font-medium">
            <li><i class="fas fa-database text-orange-300 px-1"></i> 5 GB Cloud Storage</li>
            <li><i class="fas fa-share-nodes text-orange-300 px-1"></i> Basic File Sharing</li>
            <li><i class="fas fa-globe text-orange-300 px-1"></i> Web Access</li>
            <li><i class="fas fa-download text-orange-300 px-1"></i> Upload & Download Anytime</li>
            <li><i class="fas fa-circle-xmark text-red-500 px-1"></i> No Advanced Features</li>
          </ul>
        </div>

        <!-- Plus Plan -->
        <div
          class="bg-white p-4 rounded-2xl shadow-md border border-orange-400 hover:border-2 duration-300 hover:scale-105">
          <h3 class="text-xl font-semibold text-orange-400 mt-2">Plus Plan</h3>
          <p class="text-gray-500 text-[10px] mb-4">Ideal for students and professionals</p>
          <p class="text-3xl font-bold mb-4">499 ₹ <span class="text-sm font-medium text-gray-600">/ month</span></p>
          <button
            class="w-full bg-orange-400 text-white py-1 rounded-md text-[12px] font-medium hover:bg-orange-500">Get Ads
            Drive Plus</button>
          <ul class="mt-4 space-y-2 text-gray-700 text-[11px] font-semibold">
            <li><i class="fas fa-database text-orange-300 px-1"></i> 10 GB Cloud Storage</li>
            <li><i class="fas fa-share-nodes text-orange-300 px-1"></i> Share Files with Expiry Links</li>
            <li><i class="fas fa-folder-open text-orange-300 px-1"></i> Create & Organize Folders</li>
            <li><i class="fas fa-display text-orange-300 px-1"></i> Sync Across Devices</li>
            <li><i class="fas fa-clock-rotate-left text-orange-300 px-1"></i> Faster Upload Speeds</li>
            <li><i class="fas fa-headset text-orange-300 px-1"></i> Standard Customer Support</li>
            <li><i class="fas fa-circle-xmark text-red-500 px-1"></i> No Collaboration Tools</li>
          </ul>
        </div>

        <!-- Premium Plan -->
        <div class="bg-white p-4 rounded-2xl shadow-md border border-orange-400 relative duration-300 hover:scale-105">
          <div
            class="absolute -top-3 left-1/2 -translate-x-1/2 bg-orange-400 text-white px-3 py-2 text-[10px] font-semibold rounded-full w-[125px] flex items-center justify-center">
            <i class="fas fa-star mr-1 text-[10px]"></i> Recommended
          </div>

          <h3 class="text-xl font-semibold text-orange-400 mt-2">Premium Plan</h3>
          <p class="text-gray-500 text-[10px] mb-4">Best for businesses and power users</p>
          <p class="text-3xl font-bold mb-4">999 ₹ <span class="text-sm font-medium text-gray-600">/ month</span></p>
          <button
            class="w-full bg-orange-400 text-white py-1 rounded-md text-[12px] font-medium hover:bg-orange-500">Get Ads
            Drive Premium</button>
          <ul class="mt-4 space-y-2 text-gray-700 text-[10px] font-semibold">
            <li><i class="fas fa-database text-orange-300 px-1"></i> 20 GB Cloud Storage</li>
            <li><i class="fas fa-lock text-orange-300 px-1"></i> End-to-End File Encryption</li>
            <li><i class="fas fa-user-group text-orange-300 px-1"></i> Multi-User Access with Roles</li>
            <li><i class="fas fa-folder-tree text-orange-300 px-1"></i> File Version History & Recovery</li>
            <li><i class="fas fa-folder-open text-orange-300 px-1"></i> Advanced Folder Permissions</li>
            <li><i class="fas fa-rotate text-orange-300 px-1"></i> Real-Time Auto Sync</li>
            <li><i class="fas fa-headset text-orange-300 px-1"></i> 24/7 Priority Support</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Side Login Form -->
  <div class="w-full flex-1 flex items-center justify-center p-6 bg-white ">
    <div class="w-full max-w-md bg-white shadow-xl sm:shadow-none rounded-2xl  platform-native:rounded-2xl platform-native:shadow-xl p-8">

      <h2 class="text-2xl font-semibold mb-12 text-center">{{ 'LOGIN_TITLE' | translate }}</h2>
      <form class="flex flex-col gap-6 w-full max-w-md" [formGroup]="loginForm">
        <sl-input label="{{ 'EMAIL' | translate }}" autocomplete="new-email" class="orange-input" type="email"
          [value]="loginForm.get('userName')?.value" (sl-input)="onInputChange($event, 'userName')"
          placeholder="you@example.com" required></sl-input>
        <!-- <div *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched"
          class="text-red-500 text-sm">
          <span *ngIf="loginForm.get('userName')?.errors?.['required']">
            Email is required.
          </span>
          <span
            *ngIf="!loginForm.get('userName')?.errors?.['required'] && loginForm.get('userName')?.errors?.['email']">
            Invalid email format.
          </span>
        </div> -->
        <div>
          <div class="flex items-center justify-between mb-1">
            <label class="text-sm font-medium text-gray-700">{{ 'PASSWORD' | translate }}</label>
            <a routerLink="/forgot-password" class="text-sm font-[600] text-orange-400 hover:underline">{{ 'FORGOT_PASSWORD' | translate }}</a>
          </div>
          <sl-input type="password" class="orange-input" autocomplete="new-password" placeholder="Password Toggle"
            [value]="loginForm.get('password')?.value" (sl-input)="onInputChange($event, 'password')" required
            password-toggle></sl-input>
        </div>
        <sl-button type="primary" class="w-full orange-btn mb-4" (click)="login()"
          [disabled]="!loginForm.valid">{{ 'LOGIN' | translate }}</sl-button>
        <hr class="w-full text-gray-400 font-[300] mt-4 mb-8">

        <!-- <sl-button type="primary" class="w-full orange-btn mb-4" (click)="loginWithSSO()"
          > continue with ads 365 suite </sl-button> -->
      </form>

      <p class="mt-4 text-base text-center text-black">
        {{ 'NO_ACCOUNT' | translate }}
        <a routerLink="/register" class="text-orange-400 font-[700] hover:underline">{{ 'SIGN_UP' | translate }}</a>
      </p>
    </div>
  </div>
</div>