 <!-- <ion-app class="overflow-y-auto">
  <ion-router-outlet></ion-router-outlet> -->

  <!-- Overlay container that respects safe area -->
  <!-- <div class="overlay-wrapper">
    <app-upload-progress></app-upload-progress>
    <app-alert-host></app-alert-host>
  </div>
</ion-app>  -->


<ion-app>
  <ion-content fullscreen>
    <ion-router-outlet></ion-router-outlet>

    <!-- Overlay inside ion-content -->
    <div class="overlay-wrapper">
      <app-upload-progress></app-upload-progress>
      <app-alert-host></app-alert-host>
    </div>
  </ion-content>
</ion-app>
