<div class="flex flex-col md:flex-row h-screen bg-gray-50">
  <!-- Left Panel -->
  <div class="hidden md:flex md:w-1/2 m-4 items-center rounded-lg justify-center bg-orange-100">
    <div class="text-center px-8">
      <h1 class="text-4xl font-bold text-black-600 mb-4">Verify Your Identity</h1>
      <p class="text-gray-700 text-lg">Enter the OTP sent to your mail to proceed.</p>
    </div>
  </div>

  <!-- Right Form Section -->
  <div class="w-full md:w-1/2 flex items-center justify-center p-6">
    <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8">
      <h2 class="text-2xl font-semibold mb-6 text-center text-gray-800">
        Verify OTP
      </h2>

      
      <form class="flex flex-col gap-4" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <div class="flex justify-center gap-8 otp-input">
          <input *ngFor="let i of [].constructor(otpLength); let idx = index" #otpInput
            type="text" maxlength="1" inputmode="numeric" formControlName="digit{{idx}}"
            class="w-12 h-12 border border-gray-300 rounded text-center text-lg focus:outline-none focus:ring-2 focus:ring-orange-300"
            (keydown)="handleKeyDown($event, idx)"
            (keypress)="allowNumbersOnly($event)"
            (input)="onOtpChange($event, idx)" autocomplete="off" />
        </div>

        
        <button [disabled]="!isOtpComplete()" type="submit"
          class="w-full py-2 rounded transition text-white"
          [ngClass]="{
            'bg-orange-500 hover:bg-orange-700 cursor-pointer': isOtpComplete(),
            'bg-orange-100 text-gray-500 cursor-not-allowed': !isOtpComplete()
          }">
          Verify
        </button>
      </form>

      <!-- Resend -->
      <div class="mt-4 text-center text-sm text-gray-500">
        Didn't receive it?
        <span [ngClass]="{
            'text-orange-600 hover:text-orange-700 hover:underline cursor-pointer': !isResendDisabled,
            'text-orange-200 cursor-not-allowed': isResendDisabled
          }" (click)="!isResendDisabled && resendOtp()">
          Resend <span *ngIf="isResendDisabled">({{ resendTimer }}s)</span>
        </span>
      </div>
    </div>
  </div>
</div>
