
 <div class="flex mt-8 flex-col h-[82vh] overflow-y-auto">
    <!-- Search Box -->
    <!-- <div class="px-4 py-3 bg-white shadow-sm border-b border-gray-200">
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="🔍 Search folders..."
        class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div> -->
    <div class="pb-2">
    </div>
<div *ngIf="false" class="skeleton-paragraphs">
    <sl-skeleton effect="pulse"></sl-skeleton>
    <sl-skeleton effect="pulse"></sl-skeleton>
    <sl-skeleton effect="pulse"></sl-skeleton>
    <sl-skeleton effect="pulse"></sl-skeleton>
    <sl-skeleton effect="pulse"></sl-skeleton>
</div>
  <div class="relative flex-1 overflow-y-auto bg-white h-full">
    <!-- Always show file-view to ensure drag/upload logic works -->
    <app-file-view 
      [nodes]="filteredFolders" 
      [page]="'TRASH'"
      [loading]="isLoading"
      [parentId]="getCurrentFolderId()"
      (folderDeleted)="onFolderDeleted($event)"
      (FileRestore)="restoreFileOrFolder($event)"
      >
    </app-file-view>

    <!-- Show "no folders found" inside scrollable view -->
     <div *ngIf="filteredFolders.length === 0 && searchQuery"
       class="absolute inset-0 flex items-center justify-center text-gray-500 text-sm italic pointer-events-none">
    📁 No folders found matching "<strong>{{ searchQuery }}</strong>"
  </div>
  </div>
</div>
