<div class="w-full rounded-lg border border-gray-200 bg-white h-[90vh] overflow-y-auto">
  <div class="p-[20px] mx-auto my-[40px]">

    <!-- Expandable Note Box -->
    <div #noteBox
      class="bg-white p-[12px] px-[10px] rounded-lg border border-gray-200 flex flex-col cursor-text transition-all duration-200 max-h-[400px]"
      [ngClass]="{'shadow-lg': isExpanded}" (click)="expandNote()">


      <div class=" overflow-y-auto w-full">
        <!-- Title appears only when expanded -->
        <textarea *ngIf="isExpanded" [(ngModel)]="title" placeholder="Title" rows="1"
          class="border-none outline-none text-[14px] font-semibold w-full resize-none overflow-hidden"
          (click)="$event.stopPropagation()" (input)="autoResize($event)">
    </textarea>



        <quill-editor #addEditor [modules]="quillModules" placeholder="Take a note..."
          class=" w-full border-none outline-none text-[15px]" (onEditorCreated)="onAddEditorCreated($event)">
        </quill-editor>
      </div>

      <div *ngIf="isExpanded" class="mt-auto">
        <div class="flex justify-between items-center mt-auto" *ngIf="isExpanded">

          <div class="flex text-[14px] items-center gap-[12px] mt-[8px]">

            <button class="cursor-pointer" (mousedown)="$event.preventDefault(); format('header',1)">H1</button>

            <button class="cursor-pointer" (mousedown)="$event.preventDefault(); format('header',2)">H2</button>

            <button class="cursor-pointer" (mousedown)="$event.preventDefault(); format('bold')"><b>B</b></button>

            <button class="cursor-pointer" (mousedown)="$event.preventDefault(); format('italic')"><i>I</i></button>

            <button class="cursor-pointer" (mousedown)="$event.preventDefault(); format('underline')"><u>U</u></button>

            <i class="fa-solid fa-eraser cursor-pointer" (mousedown)="$event.preventDefault(); clearFormatting()"></i>

            <i class="fa-solid fa-rotate-left cursor-pointer" (click)="undo()"></i>

            <i class="fa-solid fa-rotate-right cursor-pointer" (click)="redo()"></i>

          </div>

          <button class="self-end bg-orange-400 px-[18px] py-[8px] rounded-md  cursor-pointer"
            (click)="addNote(); $event.stopPropagation()">
            Add Note
          </button>

        </div>

      </div>
    </div>


    <!-- Notes Grid -->
    <!-- PINNED NOTES -->
    <div class="mt-[32px]">
      <div *ngIf="pinnedNotes.length > 0">

        <h5 class="ml-[4px] mb-[6px] text-[13px] text-gray-500 font-semibold">PINNED</h5>

        <div class="notes-grid">

          <div class="note-card relative group" [ngClass]="note.color || 'bg-white'"
            *ngFor="let note of pinnedNotes; let i = index">

            <span class="fa-solid text-[16px] fa-thumbtack modal-pin" [class.pinned]="note.pinned"
              (click)="togglePin(note, $event)">
            </span>

            <!-- MENU -->


            <div
              class="absolute bottom-[8px] left-[8px] right-[8px] flex justify-between opacity-0 group-hover:opacity-100 transition"
              (click)="$event.stopPropagation()">

              <i class="fa-solid fa-palette cursor-pointer" (click)="togglePalette(note, $event)"></i>
              <!-- <i class="fa-regular fa-image"></i> -->
              <i class="fa-solid fa-ellipsis-vertical  cursor-pointer text-[18px]"
                (click)="toggleMenu(note, $event)"></i>

            </div>

            <div *ngIf="openPaletteNote === note"
              class="absolute bottom-12 left-2 bg-white shadow-xl rounded-xl p-3 grid grid-cols-6 gap-2 z-50"
              (click)="$event.stopPropagation()">
              <div *ngFor="let c of colors" [ngClass]="c"
                class="w-6 h-6 rounded-full cursor-pointer border border-gray-300 hover:scale-110 transition"
                (click)="setColor(note, c, $event)"></div>
            </div>


            <!-- <h3 *ngIf="note.title">{{note.title}}</h3> -->
            <h3 *ngIf="note.title" [innerHTML]="convertLinks(note.title)" (click)="$event.stopPropagation()">
            </h3>
            <p class="w-full break-words" [innerHTML]="note.content"></p>

            <div *ngIf="openMenuNote === note"
              class="absolute bottom-[40px] right-[8px] bg-white rounded-lg shadow-lg w-[120px] z-[100]">
              <div class="p-[10px] cursor-pointer hover:bg-gray-100" (click)="copyNote(note, $event)">
                Copy
              </div>
              <div class="p-[10px] cursor-pointer hover:bg-gray-100" (click)="openEditor(note, $event)">
                Edit
              </div>
              <div class="p-[10px] cursor-pointer hover:bg-gray-100" (click)="confirmDelete(note, $event)">
                Delete
              </div>
            </div>

          </div>

        </div>

      </div>


      <!-- OTHER NOTES -->

      <div class="mt-[32px]" *ngIf="otherNotes.length > 0">

        <h5 class="ml-[4px] mb-[6px] text-[13px] text-gray-500 font-semibold">OTHERS</h5>

        <div class="notes-grid">

          <div class="note-card relative group" [ngClass]="note.color || 'bg-white'"
            *ngFor="let note of otherNotes; let i = index">

            <span class="fa-solid fa-thumbtack modal-pin" (click)="togglePin(note, $event)"
              [class.pinned]="note.pinned">
            </span>

            <!-- MENU -->
            <div class="absolute bottom-[40px] right-[8px] bg-white rounded-lg shadow-lg w-[120px] z-[100]"
              *ngIf="openMenuNote === note">
              <div class="p-[10px] cursor-pointer hover:bg-gray-100" (click)="openEditor(note, $event)">
                Edit
              </div>

              <div class="p-[10px] cursor-pointer hover:bg-gray-100" (click)="copyNote(note, $event)">
                Copy
              </div>

              <div class="p-[10px] cursor-pointer hover:bg-gray-100 text-red-500" (click)="confirmDelete(note, $event)">
                Delete
              </div>

            </div>


            <div
              class="absolute bottom-[8px] left-[8px] right-[8px] flex justify-between gap-[16px] items-center opacity-0 group-hover:opacity-100 transition"
              (click)="$event.stopPropagation()">

              <i class="fa-solid fa-palette cursor-pointer" (click)="togglePalette(note, $event)"></i>
              <!-- <i class="fa-regular fa-image"></i> -->
              <i class="fa-solid fa-ellipsis-vertical cursor-pointer text-[18px]"
                (click)="toggleMenu(note, $event)"></i>

            </div>

            <div *ngIf="openPaletteNote === note"
              class="absolute bottom-12 left-2 bg-white shadow-xl rounded-xl p-3 grid grid-cols-6 gap-2 z-50"
              (click)="$event.stopPropagation()">
              <div *ngFor="let c of colors" [ngClass]="c"
                class="w-6 h-6 rounded-full cursor-pointer border border-gray-300 hover:scale-110 transition"
                (click)="setColor(note, c, $event)"></div>
            </div>


            <!-- <h3 *ngIf="note.title">{{note.title}}</h3> -->
            <h3 *ngIf="note.title" [innerHTML]="convertLinks(note.title)" (click)="$event.stopPropagation()">
            </h3>
            <p [innerHTML]="note.content" (click)="$event.stopPropagation()"></p>

          </div>
        </div>

      </div>
    </div>


  </div>

  <!-- OVERLAY -->
  <div class="fixed top-0 left-0 w-full h-full bg-black/35 flex justify-center items-center z-[1000]"
    *ngIf="selectedNote" (click)="closeEditor()">

    <!-- EDITOR -->
    <div class="w-[700px] max-w-[95%] max-h-[80vh] p-[20px] rounded-xl shadow-2xl flex flex-col  relative bg-white"
      [ngClass]="selectedNote.color || 'bg-white'" (click)="$event.stopPropagation()">

      <div *ngIf="editorPaletteOpen"
        class="absolute bottom-20 left-6 bg-white shadow-xl rounded-xl p-3 grid grid-cols-6 gap-2 z-50"
        (click)="$event.stopPropagation()">
        <div *ngFor="let c of colors" [ngClass]="c"
          class="w-6 h-6 rounded-full cursor-pointer border border-gray-300 hover:scale-110 transition"
          (click)="setColor(selectedNote!, c, $event); editorPaletteOpen = false"></div>
      </div>

      <div class="flex-1 overflow-y-auto ">
        <!-- TOP -->
        <div class="flex justify-between items-center">
          <textarea [(ngModel)]="selectedNote.title" rows="1" placeholder="Title"
            class="border-none outline-none text-[20px] font-semibold w-full resize-none overflow-hidden leading-tight">
          </textarea>

          <!-- PIN ICON -->
          <span class="fa-solid fa-thumbtack !text-[16px] note-pin mr-[16px]" (click)="togglePin(selectedNote, $event)"
            [class.pinned]="selectedNote.pinned">
          </span>
        </div>

        <!-- DESCRIPTION -->

        <quill-editor #editor [modules]="quillModules" class="border-none outline-none text-[16px] mt-[10px]"
          (onEditorCreated)="onEditorCreated($event)">
        </quill-editor>
      </div>


      <!-- BOTTOM TOOLBAR -->
      <div class="flex justify-between items-center mt-[15px]">

        <div class="flex text-[14px] items-center gap-[20px] mt-[28px] relative flex-wrap flex-1">

          <button type="button" [class.active]="activeFormats?.header === 1"
            (mousedown)="$event.preventDefault(); format('header', 1)">
            H1
          </button>

          <button type="button" [class.active]="activeFormats?.header === 2"
            (mousedown)="$event.preventDefault(); format('header', 2)">
            H2
          </button>

          <button type="button" [class.active]="activeFormats?.bold"
            (mousedown)="$event.preventDefault(); format('bold')">
            <b>B</b>
          </button>

          <button type="button" [class.active]="activeFormats?.italic"
            (mousedown)="$event.preventDefault(); format('italic')">
            <i>I</i>
          </button>

          <button type="button" [class.active]="activeFormats?.underline"
            (mousedown)="$event.preventDefault(); format('underline')">
            <u>U</u>
          </button>

          <i class="fa-solid fa-eraser" (mousedown)="$event.preventDefault(); clearFormatting()">
          </i>

          <!-- Your existing icons below -->

          <i class="fa-solid fa-palette" (click)="$event.stopPropagation(); editorPaletteOpen = !editorPaletteOpen"></i>
          <i class="fa-solid fa-rotate-left" (click)="undo()"></i>
          <i class="fa-solid fa-rotate-right" (click)="redo()"></i>

        </div>



        <!-- RIGHT SIDE -->
        <div class="flex flex-col items-end gap-[4px] mt-[28px]">
          <!-- <span class="text-[14px] text-gray-500 whitespace-nowrap">Edited just now</span> -->

          <button class="border-none bg-transparent text-red-500 cursor-pointer" (click)="closeEditor()">
            Close
          </button>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- DELETE CONFIRM MODAL -->
<div *ngIf="deleteNoteData" class="fixed inset-0 bg-black/40 flex items-center justify-center z-[2000]">

  <div class="bg-white rounded-xl p-6 w-[400px] max-w-[90%] shadow-2xl">

    <h3 class="text-lg font-semibold mb-3">
      Delete Note
    </h3>

    <p class="text-gray-600 mb-6">
      Are you sure you want to delete this note?
    </p>

    <div class="flex justify-end gap-3">

      <button class="px-4 py-2 rounded-lg border border-gray-300 cursor-pointer" (click)="cancelDelete()">
        Cancel
      </button>

      <button class="px-4 py-2 rounded-lg bg-red-500 text-white cursor-pointer" (click)="deleteConfirmed()">
        Delete
      </button>

    </div>
  </div>
</div>