

/*  EXPANSION MAGIC */
.create-note.expanded .note-textarea{
  height:90px;
}


/* Notes Layout */
.notes-grid{
  margin-top:0px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap:20px;
  margin-bottom: 28px;
}

/* Note Card */
.note-card{
  position:relative;
  padding:14px;
  padding-right:40px;
  border-radius:10px;
  border:1px solid #eee;
  min-height:200px;
  height:auto;

  display:flex;
  flex-direction:column;

  min-width:0;
  width:100%;
  max-width:100%;
  box-sizing:border-box;
  padding-bottom: 40px;
  // word-break: break-all;
  word-break: break-word; 
  overflow-wrap: break-word;
}

.note-card:hover .note-icons{
  opacity:1;
}


.note-card:hover .note-icons{
  opacity:1;
}

.icon{
  cursor:pointer;
  font-size:16px;
}


.pin-icon{
  cursor:pointer;
  font-size:20px;
}


.material-icons{
  font-size:20px;
  color:#5f6368;
  cursor:pointer;
  padding:6px;
  border-radius:50%;
}

.material-icons:hover{
  background:#f1f3f4;
}

.pin-icon{
  color:#9aa0a6;   /* grey default */
  cursor:pointer;
}

.pin-icon.pinned{
  color: #649be4 !important;     /* filled look */
}



.note-pin{
  position:absolute;
  top:8px;
  right:8px;

  font-size:20px;
  color:#9aa0a6;
  cursor:pointer;

  opacity:0;
  transition:0.2s;
}

/* show when hover */
.note-card:hover .note-pin{
  opacity:1;
}

/* pinned look */
.note-pin.pinned{
  opacity:1;
  color:#649be4 !important;
}


.note-pin{
  position:absolute;
  top:8px;
  right:8px;

  font-size:20px;
  color:#9aa0a6;
  cursor:pointer;

  opacity:0;
  transition:0.2s;
}

/* show when hover */
.note-card:hover .note-pin{
  opacity:1;
}

/* pinned state */
.note-pin.pinned{
  opacity:1;
  color:#649be4 !important;
}

.create-note{
  margin-bottom:32px;
}


/* Show icons only when card is hovered */
.note-card:hover .note-icons i {
  opacity: 1;
}

.note-icons i:hover {
  color: #202124;
}

// editor toolbar icons styling

.editor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.toolbar-icons {
  display: flex;      
  align-items: center;
  gap: 20px;   
  margin-top: 28px;
  position: relative;       
}

.toolbar-icons i {
  font-size: 14px;
  padding: 6px;
  border-radius: 50%;
  gap: 20px;
}

.toolbar-icons i:hover {
  background: #f1f3f4;
}

::ng-deep .ql-container {
  border: none !important;
}

// ::ng-deep .ql-editor {
//   border: none !important;
//   padding: 6px 0 !important;
//   min-height: 70px;
//   font-size: 14px;
// }

// ::ng-deep .ql-editor {
//   border: none !important;
//   padding: 6px 0 !important;
//   min-height: 80px;
//   // max-height: 500px;
//   max-height: none;
//   overflow-y: auto;
//   font-size: 14px;
// }

::ng-deep .ql-editor {
  border: none !important;
  padding: 6px 0 !important;

  max-height: none !important;
  overflow: visible !important;
   height: auto !important;

  font-size: 14px;
  padding-top: 0px !important;
}

::ng-deep .ql-container {
  height: auto !important;
  max-height: none !important;
  overflow: visible !important;
}

::ng-deep .ql-toolbar {
  display: none !important;
}



.toolbar-icons button {
  border: none;
  background: transparent;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar-icons button.active {
  background: #e8f0fe;
  color: #1a73e8;
}

.note-icons{
  position:absolute;
  bottom:8px;
}

.notes-grid{
  align-items:start;
}

.add-note-toolbar button{
  border:none;
  background:transparent;
  cursor:pointer;
  padding:4px 6px;
}

.add-note-toolbar i{
  font-size:16px;
  cursor:pointer;
  padding:4px;
}

.add-note-toolbar i:hover{
  background:#f1f3f4;
  border-radius:4px;
}

textarea {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

// .title-area {
//   width: 100%;
//   min-height: 28px;
//   max-height: none;
//   overflow: hidden;
//   white-space: pre-wrap;
//   word-break: break-all;
//   overflow-wrap: break-word;
// }

.note-editor,
::ng-deep .ql-editor {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.note-card {
  overflow-x: hidden;
}

::ng-deep .ql-editor {
  min-height: 24px !important; 
  height: auto !important;
  padding-top: 0 !important;
}

::ng-deep .ql-container {
  padding: 0 !important;
}

::ng-deep .ql-editor:empty::before {
  font-style: normal;
  color: #9ca3af;
}

.modal-pin {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
  color: #5f6368;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
}



/*  ALWAYS SHOW IN MODAL */
.note-pin {
  opacity: 1 !important;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

/*  WHEN PINNED → darker */
.note-pin.pinned {
  color: #649be4 !important;
}

.note-card p {
  display: -webkit-box;
  -webkit-line-clamp: 12;   /* 👈 6 lines மட்டும் show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-pin {
  z-index: 100;
}

.note-card a {
  pointer-events: auto;
  cursor: pointer;
}

::ng-deep .ql-editor a {
  color: #1a73e8;
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .note-card p a {
  color: #1a73e8 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

::ng-deep .note-card h3 a {
  color: #1a73e8 !important;
  text-decoration: underline !important;
}
