<div #container class="flex flex-col min-h-[85vh] overflow-y-auto">
  <!-- Page Header -->
  <app-page-header
    title="My Files"
    subtitle="Display all the files uploaded into cloud"
    [breadcrums]="breadcrums"
    (breadcrumbClicked)="onFolderClick($event)">
  </app-page-header> 


  <!-- File View Section -->
  <div class="relative flex-1 bg-white">
    <app-file-view
      #fileViewComp
      [nodes]="filteredFolders"
      [page]="'MY_FILES'"
      [loading] = "isLoading"
      [parentId]="getCurrentFolderId()"
      [parentFolder]="getCurrentFolder()"
      (folderClicked)="onFolderClick($event)"
      (folderCreated)="createFolder($event)"
      (folderDeleted)="onFolderDeleted($event)"
      (folderRenamed)="onFolderRenamed($event)"
      (folderMoved)="onFolderMoved($event)"
      (refreshFolder)="refreshCurrentFolder($event)"
      (folderCopied)="OnFolderCopied($event)">
    </app-file-view>

    <!-- Empty State (when search has no results) -->
    <div
      *ngIf="filteredFolders.length === 0 && searchQuery"
      class="absolute inset-0 flex items-center justify-center text-gray-500 text-sm italic pointer-events-none"
    >
      📁 No folders found matching "<strong>{{ searchQuery }}</strong>"
    </div>
  </div>
</div>
