<div class="fixed inset-0 bg-black/10 bg-opacity-50 flex items-center justify-center z-50">
  <div class="relative bg-white rounded-lg shadow-xl w-full max-w-xl max-h-[90vh] overflow-hidden p-4">

    <button (click)="closeDialog()" class="absolute top-3 right-3 rounded-full cursor-pointer"
      aria-label="Close dialog">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-6 h-6 text-orange-500 hover:text-orange-600">
        <path fill-rule="evenodd"
          d="M6.225 4.811a1.5 1.5 0 0 1 2.121 0L12 8.464l3.654-3.653a1.5 1.5 0 1 1 2.122 2.122L14.121 10.586l3.654 3.653a1.5 1.5 0 1 1-2.122 2.122L12 12.707l-3.654 3.654a1.5 1.5 0 0 1-2.121-2.122l3.653-3.653-3.653-3.654a1.5 1.5 0 0 1 0-2.121Z"
          clip-rule="evenodd" />
      </svg>
    </button>

    <!-- Dialog Content -->
    <div>
      <div>
        <h1 class="text-lg font-semibold text-gray-900">
          {{ mode === 'copy' ? 'Copy To' : 'Move To' }}
        </h1>

        <!-- Breadcrumb/Back Button -->
        <div class="flex items-center gap-2 mt-1 text-sm">
          <!-- Breadcrumb -->
          <div class="flex items-center gap-1 text-gray-600 text-sm font-medium">

            <ng-container *ngFor="let folder of folderPath; let i = index; let last = last">

              <!-- Breadcrumb item -->
              <span class="cursor-pointer pt-1 rounded-sm transition-all duration-200" [ngClass]="{
        'text-orange-600 font-semibold': last,
        'hover:text-orange-500 hover:bg-orange-50': !last
      }" (click)="navigateToFolder(folder)">
                {{ folder.itemName }}
              </span>

              <!-- Separator -->
              <span *ngIf="!last" class="text-gray-400"> > </span>

            </ng-container>
          </div>
        </div>
      </div>

      <!-- Folder List -->
      <div class="h-72 relative overflow-y-auto py-2 bg-white divide-y divide-gray-200 mt-4">
        <div *ngIf="loadingFolders" class="absolute inset-0 flex items-center justify-center z-10 bg-white/50">
          <div class="animate-spin rounded-full h-10 w-10 border-4 border-orange-500 border-t-transparent"></div>
        </div>

        <div *ngIf="!loadingFolders">

          <!-- WHEN DATA EXISTS -->
          <div *ngIf="currentFolderChildren.length > 0">

            <div *ngFor="let folder of currentFolderChildren"
              class="group flex items-center justify-between py-2 cursor-pointer transition hover:bg-blue-50 border-b border-gray-200"
              [class.bg-blue-100]="moveTargetFolder?.id === folder.id" (click)="navigateToFolder(folder)">

              <div class="flex items-center gap-2 truncate">
                <svg class="w-8 h-8 mx-auto" viewBox="0 0 120 120" fill="none">
                  <path d="M100 30H55L45 20H20C14 20 10 24 10 30V50H110V40C110 35 106 30 100 30Z" fill="#FFA000" />
                  <path
                    d="M100 30H20C14 30 10 35 10 40V90C10 96 14 100 20 100H100C106 100 110 96 110 90V40C110 35 106 30 100 30Z"
                    fill="#FFCA28" />
                </svg>

                <span class="text-sm font-medium text-gray-800 truncate">{{ folder.itemName }}</span>
              </div>

            </div>

          </div>

          <!-- WHEN NO DATA -->
          <div *ngIf="currentFolderChildren.length === 0" class="text-center py-8 text-gray-500">
            No folders found
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-between pt-4">
        <button
          class="bg-orange-100 px-4 py-1 border border-orange-300 text-orange-400 rounded-md flex items-center gap-2 cursor-pointer"
          (click)="createNewFolderInMoveDialog()">
          <i class="fa fa-folder"></i>
          <span>New Folder</span>
        </button>

        <div class="flex gap-2">
          <button class="px-4 py-2 bg-gray-100 rounded-md border border-gray-300 cursor-pointer"
            (click)="closeDialog()">Cancel</button>

          <button class="bg-orange-500 text-white px-4 py-2 rounded-md cursor-pointer" (click)="confirmAction()"
            [disabled]="!moveTargetFolder">
            {{ mode === 'copy' ? 'Copy Here' : 'Move Here' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>