<div class="bg-white relative p-6"
  [ngClass]="{
    'w-full h-full p-0 rounded-none shadow-none': !showClose,
    'w-[90vw] max-w-5xl  rounded shadow-lg': showClose
  }">

    <!-- Header with actions -->
    <div class="flex justify-between items-center mb-4">
        <h2 class="truncate text-sm sm:text-xl font-semibold">{{selectedFile.itemName}}</h2>

        <div class="flex items-center space-x-4">
            <!-- Download -->
            <button *ngIf="viewType != 'download'" (click)="downloadFile()" title="Download"
                class="cursor-pointer text-gray-600 hover:text-gray-900" aria-label="Download">
                <sl-icon name="download" label="Download" class="w-4 h-4 !text-[#7b7b8d]"></sl-icon>
            </button>

            <!-- Favorite -->
            <button  *ngIf="showClose" (click)="makeFavorite()" title="Favorite"
                class="cursor-pointer text-gray-600 hover:text-gray-900" aria-label="Favorite">
                <sl-icon [attr.name]="selectedFile.isFavorite ? 'pin-fill' : 'pin'"
                    [attr.label]="selectedFile.isFavorite ? 'Unfavorite' : 'Favorite'" class="w-5 h-4 !text-gray-500">
                </sl-icon>
            </button>

            <!-- Close -->
            <button *ngIf="showClose" (click)="onCloseClick()" class="cursor-pointer text-gray-600 hover:text-red-900" title="Close"
                aria-label="Close">
                <i class="fas fa-x w-4 h-4 !text-[#7b7b8d]"></i>
            </button>
        </div>
    </div>

    <div *ngIf="selectedFileUrl">
        <ng-container [ngSwitch]="viewType">
            <!-- Image preview -->
            <img *ngSwitchCase="'img'" [src]="selectedFileUrl" alt="Image Preview"
                class="w-full h-[70vh] object-contain" />
            <video *ngSwitchCase="'video'" [src]="selectedFileUrl" controls
                class="w-full h-[70vh] object-contain"></video>
            <audio *ngSwitchCase="'audio'" [src]="selectedFileUrl" controls></audio>
            <iframe *ngSwitchCase="'pdf'" [src]="selectedFileUrl" class="w-full h-[70vh]" frameborder="0"></iframe>
            <!-- <iframe *ngSwitchCase="'office'" [src]="selectedFileUrl" class="w-full h-[70vh]" frameborder="0"></iframe> -->
           <!-- <ng-container *ngSwitchCase="'office'" >

               <ngx-doc-viewer
                [url]="fileURL" viewer="office" 
     style="width:100%; height:500px;"
     [disableDownload]="true">
   </ngx-doc-viewer>
           </ng-container> -->

            <iframe *ngSwitchCase="'google'" [src]="selectedFileUrl" class="w-full h-[70vh]" frameborder="0"></iframe>
            <ng-container *ngSwitchCase="'text'">

                <pre *ngIf="isLoadingFileContent"
                    class="flex justify-center items-center h-[70vh] text-gray-500 text-lg font-medium">
    Loading file content <span class="ml-2 dots-loader"></span>
  </pre>

                <pre *ngIf="fileLoadError" class="text-center text-red-600 p-4">
    {{ fileLoadError }}
  </pre>

                <pre *ngIf="!isLoadingFileContent && !fileLoadError"
                    class="overflow-auto max-h-[70vh] bg-gray-100 p-4 rounded text-sm whitespace-pre-wrap">
    {{ fileTextContent }}
  </pre>

            </ng-container>

            <!-- Download only -->
            <div *ngSwitchCase="'download'" class="flex flex-col items-center justify-center h-[70vh]">
                <p class="mb-4 text-gray-700">No preview available for this file type.</p>
                <a [href]="selectedFileUrl" download
                    class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Download File</a>
            </div>


            <p *ngSwitchDefault>Preview not available for this file type.</p>
        </ng-container>
    </div>

    <div *ngIf="!selectedFileUrl">
        <p>No file to preview</p>
    </div>
</div>